<div class="container"> 
  <div class="login-form">
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit()">
      <div role="alert" *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          name="email" 
          placeholder="Enter email address" 
          [(ngModel)]="credentials.email" 
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          name="password" 
          placeholder="e.g 12+ alphanumerics" 
          [(ngModel)]="credentials.password" 
        />
      </div>

      <button type="submit" class="btn btn-dark">Login</button>
      <div class="links-container">
        <a href="#" class="forgot-password">Forgot password?</a>
        <a [routerLink]="['/signup']" class="signup-link">Sign up</a>
      </div>
    </form>
  </div>
</div>